﻿@{
	ViewBag.Title = "Sample";
}

<h2>Transform and Transition</h2>

Links:
<ul>
	<li><a href="http://www.w3schools.com/css3/css3_animations.asp">Animations</a></li>
</ul>

<section id="sample-box">
	
	<figure>
		<img alt="just simple image" src="~/content/sample/pictures/lighthouse.jpg" />
		<figcaption>Just simple caption</figcaption>
	</figure>

</section>

@section styles
{
	<style>
		#sample-box img {
			width: 400px; height: 300px;
			animation: resize 3s linear 2s 4 initial;
			-webkit-animation: resize 3s linear 2s 4 alternate;
		}

		@@keyframes resize {
			0% { padding: 0 }
			50% { padding: 0 20px; background-color:rgba(255,0,0,0.2) }
			100% { padding: 0 100px; background-color:rgba(255,0,0,0.9) }
		}

		@@-ms-keyframes resize {
			0% { padding: 0 }
			50% { padding: 0 20px; background-color:rgba(255,0,0,0.2) }
			100% { padding: 0 100px; background-color:rgba(255,0,0,0.9) }
		}

		@@-webkit-keyframes resize  {
			0% { padding: 0 }
			50% { padding: 0 20px; background-color:rgba(255,0,0,0.2) }
			100% { padding: 0 100px; background-color:rgba(255,0,0,0.9) }
		}
	</style>
}
