﻿@{
	ViewBag.Title = "Sample";
}

<h2>Canvas</h2>

<canvas id="map_canvas" width="200" height="200">
	Your browser does not support canvas!
</canvas>

@section scripts
{
	<script type="text/javascript">
		$(function () {
			var canvas = document.getElementById('map_canvas');
			var ctx = canvas.getContext('2d');
			ctx.fillStyle = "rgb(0,0,255)";
			ctx.fillRect(10, 10, 180, 180);
		})
	</script>
}
