﻿@{
	ViewBag.Title = "Sample";
}

<h2>Gradient</h2>

<section id="sample-box">
	<hr />
	Link:
	<ol>
		<li><a href="http://webdesignerwall.com/tutorials/cross-browser-css-gradient"> Cross-Browser CSS Gradient </a></li>
		<li><a href="http://www.impressivewebs.com/css3-linear-gradient-syntax/"> CSS3 Linear Gradient Syntax Breakdown </a></li>
	</ol>
	<p>
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */<br />
		background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000)); /* for webkit browsers */<br />
		background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */<br />
	</p>
	<div class="sample-gradient"></div>
</section>

@section styles
{
	<style type="text/css">
		#sample-box div { width: 200px;height: 200px;margin: 10px }

		.sample-gradient {
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
			background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000)); /* for webkit browsers */
			background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */
		}
	</style>
}