﻿@{
	ViewBag.Title = "Sample";
}

<h2>Media</h2>

<section id="sample-box">
	
	<hr />
	<p>
		Audio: controls="controls" preload="auto" loop="loop" autoplay="autoplay"
	</p>
	<audio id="sampleAudio" src="~/content/sample/Kalimba.mp3" controls="controls">
		Your browser does not support audio!
	</audio>
	<br/>
	<input type="button" value="Play" onclick="sampleAudio.play()" />
	<input type="button" value="Pause" onclick="sampleAudio.pause()" />
	
	<hr />
	<p>
		Video: controls="controls" preload="none" poster="some.jpg" width="400" height="300"
	</p>
	<video src="~/content/sample/Wildlife.wmv" controls="controls" preload="none" width="400" height="300" poster="~/content/sample/pictures/Lighthouse.jpg">
		Your browser does not support video!
	</video>

</section>