﻿@{
	ViewBag.Title = "Sample";
}

<h2>Transform and Transition</h2>

Links:
<ul>
	<li><a href="http://www.w3schools.com/cssref/css3_pr_transform.asp">Transform</a></li>
	<li><a href="http://www.w3schools.com/cssref/css3_pr_transition.asp">Transition</a></li>
</ul>

<section id="sample-box">
	
	<figure>
		<img alt="just simple image" src="~/content/sample/pictures/lighthouse.jpg" />
		<figcaption>Just simple caption</figcaption>
	</figure>

</section>

@section styles
{
	<style>
		#sample-box img { 
			width: 200px; height: 200px;
			transition: all 2s;
			-ms-transition: all 2s;
			-moz-transition: all 2s;
			-webkit-transition: all 2s;
			-o-transition: all 2s;
		}

		#sample-box img:hover {
			transform: scale(1.5) rotate(45deg) translate(25px, 25px);
			-ms-transform: scale(1.5) rotate(45deg) translate(25px, 25px);
			-moz-transform: scale(1.5) rotate(45deg) translate(25px, 25px);
			-webkit-transform: scale(1.5) rotate(45deg) translate(25px, 25px);
			-o-transform: scale(1.5) rotate(45deg) translate(25px, 25px);
		}
	</style>
}
