﻿@using StackExchange.Profiling
<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
	<head>
		<meta charset="utf-8" />
		<title>@ViewBag.Title</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Tennis - Head To Head" />
		<meta name="author" content="kolbasik" />
		@if (ViewHelpers.IsDebug()) {
			@MiniProfiler.RenderIncludes(useExistingjQuery: true)
		}
		@Styles.Render("~/content/themes/base/css", "~/content/twitter", "~/content/css")
		@RenderSection("styles", required: false)
		<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
		@*<link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/icons/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/icons/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/icons/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="~/Content/icons/apple-touch-icon-57-precomposed.png">*@
		@Scripts.Render("~/bundles/modernizr")
		<script type="text/javascript">
			window._SimpleBaseUrl_ = '@Url.Content("~/")';
			window._SimpleWebApiUrl_ = 'api/v1/';
			window._SimpleTemplateUrl_ = 'template/knockout/';
		</script>
	</head>
	<body>
		<header class="navbar navbar-static-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="~/">Tennis - Head To Head</a>
					<nav role="menu" class="nav-collapse">
						<ul class="nav">
							@* class="active" *@
							<li role="menuitem">@Html.ActionLink("Home", "Index", "Home")</li>
							<li role="menuitem">@Html.ActionLink("About", "About", "Home")</li>
							<li role="menuitem">@Html.ActionLink("Contact", "Contact", "Home")</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
	
		<div class="container" style="margin-top: 8px">
			@RenderSection("featured", required: false)
			<section class="row-fluid">
				@RenderBody()
			</section>
		</div>
	
		<footer class="container">
			<p style="text-align: right">&copy; @DateTime.UtcNow.Year Simple</p>
		</footer>

		@Scripts.Render("~/bundles/jquery", "~/bundles/twitter")
		@RenderSection("scripts", required: false)
		
		@if (ViewHelpers.IsProduction()) {
			@ViewHelpers.AnalyticsScript()
		}
		<!-- this page rendered at @(DateTime.UtcNow) -->
	</body>
</html>
