﻿@*@if (Request.IsAuthenticated) {
	<text>
		Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" }).
		@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
			@Html.AntiForgeryToken()
			<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
		}
	</text>
} else {
	<text>
		@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) |
		@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
	</text>
}*@
<div class="btn-group pull-right">
	@if (Request.IsAuthenticated)
	{
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i>Hello, @User.Identity.Name<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li>@Html.ActionLink("Manage", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
			<li class="divider"></li>            
			@*<li>@Html.ActionLink("Log off", "LogOff", "Account")</li>*@
			<li>@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
					@Html.AntiForgeryToken()
					<a href="#" onclick="this.parentNode.submit()">Log off</a>
			}</li>
		</ul>
	}
	else
	{
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i>Login <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
			<li class="divider"></li>
			<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
		</ul>
	}
</div>
