﻿@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = "This page is unavailable.";
}

<hgroup class="title">
	<h1 class="error">This page is unavailable.</h1>
	<h2 class="error">Something happened while processing your request.</h2>
	<p>
		Please be assured we log and review all errors, even if you do not report this error we will endeavor to correct it.
	</p>
</hgroup>
