﻿html, body {
	background-color: #fff;
	margin: 0;
	padding: 0
}

header, footer, hgroup, nav, section {
	display: block;
}

mark {
	background-color: #a6dbed;
	padding-left: 5px;
	padding-right: 5px;
}

/*
/* main layout
----------------------------------------------------------*/
/*.content-wrapper {
	margin: 0 auto;
	max-width: 960px;
}

#body {
	background-color: #efeeef;
	clear: both;
	padding-bottom: 35px;
}

header .content-wrapper {
	padding-top: 20px; 
}

footer {
	clear: both;
	background-color: #e2e2e2;
	font-size: .8em;
	height: 100px;
}*/


#logoutForm {
	display: inline;
}

/* site title
----------------------------------------------------------*/
/*.site-title {
	color: #c8c8c8;
	font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
	font-size: 2.3em;
	margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
	background: none;
	color: #c8c8c8;
	outline: none;
	text-decoration: none;
}*/


/* login
----------------------------------------------------------*/
#login {
	display: block;
	font-size: .85em;
	margin: 0 0 10px;
	text-align: right;
}

	#login a {
		background-color: #d3dce0;
		margin-left: 10px;
		margin-right: 3px;
		padding: 2px 3px;
		text-decoration: none;
	}

	#login a.username {
		background: none;
		margin: 0;
		padding: 0;
		text-decoration: underline;
	}

	#login ul {
		margin: 0;
	}

	#login li {
		display: inline;
		list-style: none;
	}

/* menu
----------------------------------------------------------!1!

/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
	background-color: #fff;
}

	.featured .content-wrapper {
		background-color: #7ac0da;
		background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
		background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
		background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
		background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
		background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
		color: #3e5667;
		padding: 20px 40px 30px 40px;
	}

		.featured hgroup.title h1, .featured hgroup.title h2 {
			color: #fff;
		}

		.featured p {
			font-size: 1.1em;
		}

/* page titles */
hgroup.title {
	margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
	display: inline;
}

hgroup.title h2 {
	font-weight: normal;
	margin-left: 3px;
}

/* features */
section.feature {
	width: 300px;
	float: left;
	padding: 10px;
}

/* content */
article {
	float: left;
	width: 70%;
}

aside {
	float: right;
	width: 25%;
}

	aside ul {
		list-style: none;
		padding: 0;
	}

		aside ul li {
			background: url("../Images/bullet.png") no-repeat 0 50%;
			padding: 2px 0 2px 20px;
		}

.label {
	font-weight: 700;
}

/* login page */
#loginForm {
	border-right: solid 1px silver;
	float: left;
	width: 47%;
}

	#loginForm input {
		width: 250px;
	}

	#loginForm input[type="checkbox"],
	#loginForm input[type="submit"],
	#loginForm input[type="button"],
	#loginForm button {
		width: auto;
	}

#socialLoginForm {
	float: left;
	width: 45%;
}

#socialLoginList button {
	margin-bottom: 12px;
}

/* contact */
.contact h3 {
	font-size: 1.2em;
}

.contact p {
	margin: 5px 0 0 10px;
}

.contact iframe {
	border: 1px solid #333;
	margin: 5px 0 0 10px;
}

/* info and errors */
.message-info {
	border: 1px solid;
	clear: both;
	padding: 10px 20px;
}

.message-error {
	clear: both;
	color: #e80c4d;
	font-size: 1.1em;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.message-success {
	color: #7ac0da;
	font-size: 1.3em;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.error {
	color: #e80c4d;
}
	
/* styles for validation helpers */
.field-validation-error {
	color: #e80c4d;
	font-weight: bold;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #e80c4d;
	font-weight: bold;
	font-size: 1.1em;
}

.validation-summary-valid {
	display: none;
}

/* tables
----------------------------------------------------------*/
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 0.75em;
	border: 0 none;
}

th {
	font-size: 1.2em;
	text-align: left;
	border: none 0px;
	padding-left: 0;
}

	th a {
		display: block;
		position: relative;
	}

	th a:link, th a:visited, th a:active, th a:hover {
		color: #333;
		font-weight: 600;
		text-decoration: none;
		padding: 0;
	}

	th a:hover {
		color: #000;
	}

	th.asc a, th.desc a {
		margin-right: .75em;
	}

	th.asc a:after, th.desc a:after {
		display: block;
		position: absolute;
		right: 0em;
		top: 0;
		font-size: 0.75em;
	}

	th.asc a:after {
		content: '▲';
	}

	th.desc a:after {
		content: '▼';
	}

td {
	padding: 0.25em 2em 0.25em 0em;
	border: 0 none;
}

tr.pager td {
	padding: 0 0.25em 0 0;
}

/*
/********************
*   Mobile Styles   *
*******************!1!
@media only screen and (max-width: 850px) {

	/* header
	----------------------------------------------------------!1!
	header .float-left,
	header .float-right {
		float: none;
	}

	/* logo !1!
	header .site-title {
		margin: 10px;
		text-align: center;
	}

	/* login !1!
	#login {
		font-size: .85em;
		margin: 0 0 12px;
		text-align: center;
	}

		#login ul {
			margin: 5px 0;
			padding: 0;
		}

		#login li {
			display: inline;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		#login a {
			background: none;
			color: #999;
			font-weight: 600;
			margin: 2px;
			padding: 0;
		}

		#login a:hover {
			color: #333;
		}

	/* menu !1!
	nav {
		margin-bottom: 5px;
	}

	ul#menu {
		margin: 0;
		padding: 0;
		text-align: center;
	}

		ul#menu li {
			margin: 0;
			padding: 0;
		}


	/* main layout
	----------------------------------------------------------!1!
	.main-content,
	.featured + .main-content {
		background-position: 10px 0;
	}

	.content-wrapper {
		padding-right: 10px;
		padding-left: 10px;
	}

	.featured .content-wrapper {
		padding: 10px;
	}

	/* page content !1!
	article, aside {
		float: none;
		width: 100%;
	}

	/* ordered list !1!
	ol.round {
		list-style-type: none;
		padding-left: 0;
	}

		ol.round li {
			padding-left: 10px;
			margin: 25px 0;
		}

			ol.round li.zero,
			ol.round li.one,
			ol.round li.two,
			ol.round li.three,
			ol.round li.four,
			ol.round li.five,
			ol.round li.six,
			ol.round li.seven,
			ol.round li.eight,
			ol.round li.nine {
				background: none;
			}

	 /* features !1!
	 section.feature {
		float: none;
		padding: 10px;
		width: auto;
	 }

		section.feature img {
			color: #999;
			content: attr(alt);
			font-size: 1.5em;
			font-weight: 600;
		}

	/* forms !1!
	input {
		width: 90%;
	}

	/* login page !1!
	#loginForm {
		border-right: none;
		float: none;
		width: auto;
	}

		#loginForm .validation-error {
			display: block;
			margin-left: 15px;
		}

	#socialLoginForm {
		margin-left: 0;
		float: none;
		width: auto;
	}


	/* footer
	----------------------------------------------------------!1!
	footer .float-left,
	footer .float-right {
		float: none;
	}

	footer {
		text-align: center;
		height: auto;
		padding: 10px 0;
	}

		footer p {
			margin: 0;
		}
}*/
