﻿/*/* HTML5 display-role reset for older browsers !1!
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* ----------------------------
simple reset
---------------------------- !1!
html, body {
	width: 100%; height: 100%;
	line-height: 1; font-size: 14pt;
}

html, body, ul, ol, li, form, fieldset, legend {
	 margin: 0; padding: 0;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }

fieldset, img {
	 border: 0;
}

legend {
	color: #000;
}

ol, ul { 
	list-style: none;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

table {
	 border-collapse: collapse; border-spacing: 0
}

caption, th, td {
	text-align: left; vertical-align: top; font-weight: normal;
}

input, textarea, select {
	font-size: 110%; line-height: 1.1;
}

abbr, acronym {
	border-bottom: .1em dotted; cursor: help;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}*/